<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="public/style.css"> --}}
</head>

<body style="background-color:cadetblue;">
    <form action="http://localhost:8080/display" method="POST">
    <p style="text-align: center; margin-top: 200px;">Name
        <input type="text" name="Name">
    </p>

    <p style="text-align: center;">Email
        <input type="text" name="Email">
    </p>

    <p style="text-align: center;">DOB
        <input type="text" name="DOB">
    </p>

<input style="margin-left:658px ;" type="submit" value="Submit">  
    </form>

</body>

</html>