<!DOCTYPE html>
<html lang="en" style="    text-align: center;
    background-color: cadetblue;
    font-size: 20px;
    font-style: italic;
    font-family: cursive;
    border-style: double;

    border-width: thick;
    position: absolute;
    margin: 250px 250px 290px 400px; 
    

     {{!-- text-shadow: -1px 0 maroon, 0px 1 maroon, 1px 0 maroon,-1px maroon; --}}
    
">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Document</title>
</head>

<body>
     Name You Entered Is : {{{Name}}}<br>
     Email You Entered Is: {{{Email}}}<br>
     DOB You Entered Is :  {{{DOB}}}


</body>

</html>