body{
    margin: 0;
    
}
* { 
    box-sizing: border-box;
}

.header{

    position: absolute;
    width: 100%;
    height: 44px;
    background-color: #999;
    z-index: 7;
   
}
.side-nav{
    position: absolute;
    width: 100%;
    background-color: #666;
    height: 100vh;
    z-index: 6;
    padding: 44px 0px 0px 0px;

}
.side-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav ul li{
    padding: 20px 10px 20px 10px;
    border-bottom:1px solid #333;
}

.side-nav ul  li a{
    color:#fff;
    text-decoration: none;

}

.side-nav i{
    color:#333;

}
.main-content{
    padding-top:44px;
}

@media screen and (min-width: 600px) {


    .side-nav{
        width: 80px;
    }
    .side-nav ul li {
        text-align: center;
    }
    .side-nav ul li span:nth-child(2){

        display: none;

    }
    .side-nav ul li i {
        font-size: 26px;
    }
    .side-nav ul li:hover i {
        color: #16c7ff;

    }
    .main-content{
        margin-left:80px;
    }
}

@media screen and (min-width: 1000px) {


    .side-nav{
        width: 200px;
    }
    .side-nav ul li span:nth-child(2){

        display: inline-block;

    }
    .side-nav ul li {
        text-align: left;
    }

    .side-nav ul li:hover i {
        color: #16c7ff;
    }
    .side-nav ul li i {
        font-size: 16px;
    }
    .main-content{
        margin-left:200px;
    }


}